{% extends '_base.twig' %}

{% block page_description %}Current offer of coffee beans for spring 2020.{% endblock %}

{% block title %}Coffee{% endblock %}

{% block link_coffee %}active{% endblock %}

{% block content %}
    <h1>Coffee</h1>
    <p class="lead">
        We work with specialty coffee from current crops which is carefully roasted. Our coffee is fruity, juicy
        and never boring. We bring you the best from leading European specialty roasteries, currently mostly
        from <a href="https://shop.squaremilecoffee.com"> Square Mile Coffee Roasters</a>, a multi award winning coffee roasting company based in East London.
    </p>
    <p>You can currently buy these beans in 350g bags.</p>
    <div class="row row-cols-md-2">
        {% for coffee in coffees %}
            <div class="col-md-6 mb-3">
                <div class="card h-100 bg-light">
                    <div class="card-body">
                        <h2 class="h3 card-header border-bottom px-3">
                            {{ coffee.name }} <br class="d-xl-none">({{ coffee.origin }})
                        </h2>
                        <img src="{{coffee.images[0].url}}"
                        srcset="
                        {% for image in coffee.images %}
                            {{ image.url }} {{ image.width }}w
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                        "
                        sizes="
                        (min-width: 1200px) 520px,
                        (min-width: 992px) 430px,
                        (min-width: 768px) 310px,
                        (min-width: 576px) 490px,
                        calc(100vw - 2 * 25px)"
                        alt="sealed bag of {{ coffee.name }} coffee" class="card-img-top d-print-none"/>
                        <div class="card-text mt-2 px-3 pb-3">
                            <p class="font-italic">
                                {{ coffee.tastes|join(' / ')|lower }}
                            </p>
                            <p>{{ coffee.tastingNotes }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

